body {
    background-image: url("/images/images.jpeg");
    font-family: 'Marcellus', serif;
    background: grey;
    

  }


  /* .navbar-brand, */
  .navbar-nav a {
    background-image: url("../images/images.jpeg");
    font-family: "Modesto", 'Poster';
    font-family: 'Marcellus', serif;
    opacity: 1;
  }

  a{

    font-family: 'Marcellus', serif;
  }

  h1{
       font-family: 'Marcellus', serif;


  }