body{
    background-image: url("/Users/healthit/Project2/images/images.jpeg");
  }

  .navbar-nav a{
    font-family: "Modesto", 'Poster';
  }

  .jumbotron{  
    text-align: center;
    margin-top: 30px;
    width: 60%;
    float: left;
    background-image: url("/Users/healthit/Project2/images/background2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: scroll;

  }

  .card{
    text-align: center; 
    /* width: 5%; */
    margin-top: 30px;
    margin-right: 70px;
    /* padding-left: 50%; */
    float: left
  }

  .navbar-brand{
    margin-left: 11%
  }

  #border{
    border-style: solid;
    margin-bottom: 30px;
    background-image: url("/Users/healthit/Project2/images/background2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #borderCard{
    border-bottom: solid
  }

  #favicon{
  border-radius: 25px
  }