<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DRAGON KEEPER</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Search">
        <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
      </form>
    </div>
    
  </nav>

<body>

    <div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div id = "borderCard">
          <h5 class="card-title">Navigation</h5>
          </div>
          <br>
          <p class="card-text">NEW to dragon keeper?</p>
          <br>
          <button type="button" class="btn btn-primary">CREATE ACCOUNT</button>
          <br>
          <button name="guestredirect" onClick="guestredirect()" type="button" class="btn btn-primary">Guest</button>
          <div id=borderCard><p></p><br></div>
          <br><br>
        </div>
      </div>
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">FROM THE DEVELOPERS</h1>
          <div class="card-body" id="border">
              <p class="card-text">Dungeons & Dragons (commonly abbreviated as D&D or DnD)[2] is a fantasy tabletop role-playing game (RPG) 
                originally designed by Gary Gygax and Dave Arneson.[3] It was first published in 1974 by Tactical Studies Rules, Inc. (TSR). 
                The game has been published by Wizards of the Coast (now a subsidiary of Hasbro) since 1997. It was derived from miniature wargames, 
                with a variation of the 1971 game Chainmail serving as the initial rule system.[4] D&D's publication is commonly recognized as the 
                beginning of modern role-playing games and the role-playing game industry.[5]</p>
            </div>
            <div class="card-body" id="border">
                <p class="card-text">D&D departs from traditional wargaming by allowing each player to create their own character to play instead of a 
                  military formation. These characters embark upon imaginary adventures within a fantasy setting. A Dungeon Master (DM) serves as the game's 
                  referee and storyteller, while maintaining the setting in which the adventures occur, and playing the role of the inhabitants of the game world. 
                  The characters form a party and they interact with the setting's inhabitants and each other. Together they solve dilemmas, engage in battles, and 
                  gather treasure and knowledge.[5] In the process, the characters earn experience points (XP) in order to rise in levels, and become increasingly 
                  powerful over a series of separate gaming sessions.</p>
              </div>
              <div class="card-body" id="border">
                  <p class="card-text">The early success of D&D led to a proliferation of similar game systems. Despite the competition, D&D has remained as the market 
                    leader in the role-playing game industry.[6] In 1977, the game was split into two branches: the relatively rules-light game system of basic Dungeons 
                    & Dragons, and the more structured, rules-heavy game system of Advanced Dungeons & Dragons (abbreviated as AD&D).[1][2][7] AD&D 2nd Edition was published 
                    in 1989. In 2000, a new system was released as D&D 3rd edition, continuing the edition numbering from AD&D; a revised version 3.5 was released in June 2003. 
                    These 3rd edition rules formed the basis of the d20 System, which is available under the Open Game License (OGL) for use by other publishers. D&D 4th edition 
                    was released in June 2008.[8][9] The 5th edition of D&D, the most recent, was released during the second half of 2014.[10]</p>
                </div>
                <div class="card-body" id="border">
                    <p class="card-text">As of 2004, D&D remained the best-known,[11] and best-selling,[12] role-playing game in the US, with an estimated 20 million people having played 
                      the game, and more than US$1 billion in book and equipment sales worldwide.[13] The game has been supplemented by many pre-made adventures, as well as commercial campaign 
                      settings suitable for use by regular gaming groups. D&D is known beyond the game itself for other D&D-branded products, references in popular culture, and some of the controversies 
                      that have surrounded it, particularly a moral panic in the 1980s falsely linking it to Satanism and suicide.[14][15] The game has won multiple awards and has been translated into many languages.</p>
                  </div>
                  <div class="card-body" id="border">
                      <p class="card-text">Dungeons & Dragons is a structured yet open-ended role-playing game. It is normally played indoors with the participants seated around a tabletop. Typically, 
                        each player controls only a single character, which represents an individual in a fictional setting.[16] When working together as a group, these player characters (PCs) are often 
                        described as a "party" of adventurers, with each member often having their own area of specialty which contributes to the success of the whole.[17][18] During the course of play, 
                        each player directs the actions of their character and their interactions with other characters in the game.[19][20] This activity is performed through the verbal impersonation of 
                        the characters by the players, while employing a variety of social and other useful cognitive skills, such as logic, basic mathematics and imagination.[21] A game often continues over 
                        a series of meetings to complete a single adventure, and longer into a series of related gaming adventures, called a "campaign".[22][23]</p>
                    </div>
        </div>
      </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
